labs/Labor2/Vorlesungsplan/Vorlesungsplan.dtd

<!ELEMENT vorlesungsplan (vorlesung+, raumplan+)>
<!ELEMENT vorlesung (titel, dozent, zeit)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT dozent (#PCDATA)>
<!ELEMENT zeit (#PCDATA)>
<!ELEMENT raumplan (raumBezeichnung, raumBeschreibung)>
<!ELEMENT raumBezeichnung (#PCDATA)>
<!ELEMENT raumBeschreibung (#PCDATA)>
